@font-face {
  /* font-family: 'Apocalypse';
  src: local('Apocalypse'), url(./fonts/Apocalypse.ttf) format('ttf'); */
}

.app {
  height: 100%;
  border: 5px solid salmon;
}

a {
  color: rgb(204, 185, 185);
}

a:hover {
  color: white;
}

button {
  border-radius: 1rem;
  background-color: rgb(183, 39, 14);
  padding: 0.5rem;
  color: white;
  margin: 0.5rem 0rem;
  /* border: 1px solid gray; */
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.chosen {
  background-color: rgba(252, 252, 252, 0.2);
  color: red;
}

.contact-button-div {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  display: flex;
  align-items: center;
}

/* Icons -------------------- */
.svg-icon path {
  transition: 250ms;
}

.svg-icon:hover path {
  fill: #292;
}

.svg-icon.telephone:hover path {
  fill: #49c;
}
