@font-face {
  font-family: 'Pangram-ExtraLight';
  src: local('Pangram-ExtraLight'),
    url(./fonts/Pangram-ExtraLight.otf) format('truetype');
}

.app {
  height: 100%;
  /* border: 5px solid salmon; */
}

a {
  color: white;
  text-decoration: none;
  font-family: Pangram-ExtraLight;
  letter-spacing: 0.15rem;
}

a:hover {
  color: gray;
  text-decoration: underline;
}

button {
  border-radius: 1rem;
  background-color: rgb(183, 39, 14);
  padding: 0.5rem;
  color: white;
  margin: 0.5rem 0rem;
  /* border: 1px solid gray; */
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.chosen {
  background-color: rgba(252, 252, 252, 0.2);
  color: red;
}

.contact-button-div {
  /* border: 3px solid white; */
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(252, 252, 252, 0.4); */
}

/* Icons -------------------- */

.svg-icon path {
  transition: 250ms;
  margin: 0;
  padding: 0;
}

.svg-icon:hover path {
  fill: #49c;
}

.svg-icon.telephone:hover path {
  fill: #49c;
}
