@font-face {
  font-family: 'Pangram-ExtraLight';
  src: local('Pangram-ExtraLight'),
    url(./fonts/Pangram-ExtraLight.otf) format('truetype');
}

.app {
  height: 100%;
  /* border: 5px solid salmon; */
}

a {
  color: white;
  text-decoration: none;
  font-family: Pangram-ExtraLight;
  letter-spacing: 0.15rem;
}

a:hover {
  color: gray;
  text-decoration: underline;
}

button {
  padding: 0.25rem 1.5rem;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgba(12, 11, 11, 0.2);
  color: white;
}

.chosen {
  background-color: rgba(252, 252, 252, 0.2);
}

.contact-button-div {
  /* border: 3px solid white; */
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(252, 252, 252, 0.4); */
}

.project-div-list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 0.25rem;
  /* border: 1px solid hotpink; */
  min-width: 80px;
}

/* Icons -------------------- */

.svg-icon path {
  transition: 250ms;
  margin: 0;
  padding: 0;
}

.svg-icon:hover path {
  fill: #49c;
}

.svg-icon.telephone:hover path {
  fill: #49c;
}
