@font-face {
  font-family: 'Raleway-Light';
  src: local('Raleway-Light'), url(./fonts/Raleway-Light.ttf) format('truetype');
}

.delete {
  position: absolute;
  top: -1rem;
  right: -1rem;
}
.delete-resume {
  position: absolute;
  top: -1rem;
  right: -1rem;
  /* width: 100%; */
}

.fadein {
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.resume-close-link {
  font-family: Pangram-ExtraLight;
  letter-spacing: 0.15rem;
  cursor: pointer;
}

.resume-close-link:hover {
  color: gray;
  text-decoration: underline;
}

.resume-inner-div {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  position: relative;
}

.modal-inner-div {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-inner-inner-div {
  /* border: 3px solid gray; */
  background-color: rgba(3, 11, 18, 0.9);
  border-radius: 0.3rem;
  text-align: center;
  padding: 0.2rem;
  position: relative;
}

.modal-image {
  height: 100px;
  border: 0.2rem solid white;
  margin-top: 1rem;
  border-radius: 10rem;
}

.form-div {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-div {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: right;
  margin: 0.5rem;
}

label {
  letter-spacing: 0.1rem;
  margin-bottom: 0.1rem;
}

.input {
  width: 97%;
}

input[type='text'],
input[type='email'],
textarea,
select {
  outline: none;
  border-top: none;
  background: rgba(255, 255, 255, 0.1);
  border-right: none;
  color: white;
  padding: 0.25rem;
  letter-spacing: 0.08rem;
  font-family: Raleway-Light;
}

textarea {
  height: 4rem;
}

.modal-title-div {
  font-size: 2rem;
  font-family: Pangram-ExtraLight;
  letter-spacing: 0.15rem;
  font-variant: small-caps;
}

/* buttons */

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 0.5rem 4.5rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1 {
  border: 3px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

/* Button 1e */
.btn-1e {
  overflow: hidden;
}

.btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: rgb(255, 255, 255);
  opacity: 0;
  /* z-index: -1; */
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
  /* color: #0e83cd; */
  color: white;
}

.btn-1e:hover:after {
  height: 260%;
  opacity: 0.2;
}

.btn-1e:active:after {
  height: 400%;
  opacity: 0.2;
}
