/* Colors
Primary(Blue): rgb(6, 47, 79)



*/

/* FONTS -------------------------------------------------------------------- */

.home {
  background-color: rgb(6, 47, 79);
  /* font-family: Roboto-Medium; */
  color: white;
}

.home-header {
  border: 1px green solid;
  font-size: 4rem;
  padding: 0;
  letter-spacing: 1rem;
  margin: 0 auto;
  color: white;
}

.home-sub-header {
  font-size: 2rem;
}
.page-title {
  border: 3px solid maroon;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/* horizontal Nav DIV -------------------------------------------------------------------- */

.horizontal-nav {
  border: 3px solid darkblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
