/* FONTS -------------------------------------------------------------------- */
@font-face {
  font-family: 'Pangram-Regular';
  src: local('Pangram-Regular'),
    url(./fonts/Pangram-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'Pangram-ExtraLight';
  src: local('Pangram-ExtraLight'),
    url(./fonts/Pangram-ExtraLight.otf) format('truetype');
}
@font-face {
  font-family: 'Pangram-Black';
  src: local('Pangram-Black'), url(./fonts/Pangram-Black.otf) format('truetype');
}
@font-face {
  font-family: 'Alcubierre';
  src: local('Alcubierre'), url(./fonts/Alcubierre.otf) format('truetype');
}
@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway-Regular'),
    url(./fonts/Raleway-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-Light';
  src: local('Raleway-Light'), url(./fonts/Raleway-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  src: local('Raleway-ExtraLight'),
    url(./fonts/Raleway-ExtraLight.ttf) format('truetype');
}

.fadein {
  animation: fadein 4s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein2 {
  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 6s; /* Firefox < 16 */
  -ms-animation: fadein 6s; /* Internet Explorer */
  -o-animation: fadein 6s; /* Opera < 12.1 */
  animation: fadein 6s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home {
  background-color: rgb(3, 11, 18);
  font-family: Raleway-Light;
  color: white;
  /* border: 5px solid yellow; */
}

.page-title {
  /* border: 3px solid maroon; */
  background: url('./images/minifiedSkewFieldBlur.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-title-sub-div {
  /* border: 3px solid wheat; */
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.home-header {
  /* border: 1px green solid; */
  font-size: 4rem;
  padding: 6rem 0 0 0;
  letter-spacing: 0.8rem;
  margin: 0 auto;
  font-family: Alcubierre;
  font-variant: small-caps;
  border-bottom: 1px solid white;
  width: 90%;
  max-width: 600px;
}

.home-sub-header {
  font-family: Pangram-ExtraLight;
  font-variant: small-caps;
  font-size: 2rem;
  letter-spacing: 0.8rem;
  margin: 0;
  padding: 0 0 1rem 0;
  width: 90%;
  max-width: 500px;
}

.home-buttons-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.home-image {
  margin-bottom: 0.5rem;
  height: 100px;
  border: 0.2rem solid white;
  border-radius: 10rem;
}

.home-link {
  font-size: 1rem;
  border: none;
  padding: 0;
  background: none;
  margin: 0;
  color: rgb(196, 226, 255);
  font-family: Raleway-Light;
  letter-spacing: 0.15rem;
  cursor: pointer;
}

.home-link:hover {
  color: rgba(68, 153, 204, 1);
  text-decoration: underline;
}

.home-bio {
  width: 90%;
  max-width: 500px;
  text-align: center;
  line-height: 1.5rem;
  border-top: 1px solid white;
  font-family: Raleway-Light;
  padding: 0.5rem;
}

.home-icon-div {
  /* border: 8px solid brown; */
  border-top: 1px solid white;
  padding-top: 0.6rem;
}

.down-arrow-div {
  /* border: 8px solid brown; */
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.projects-title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-family: Pangram-ExtraLight;
  letter-spacing: 0.15rem;
  font-variant: small-caps;
}

.resume-div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact-modal-div {
  /* border: 4px solid green; */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-content: center;
}

.GoTNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
}
