.names-div {
  border: 3px solid mediumslateblue;
  font-size: 1rem;
  color: white;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.name-nav-item {
  padding: 0rem 0.5rem;
}
