@font-face {
  font-family: 'Alcubierre';
  src: local('Alcubierre'), url(./fonts/Alcubierre.otf) format('truetype');
}
@font-face {
  font-family: 'Pangram-ExtraLight';
  src: local('Pangram-ExtraLight'),
    url(./fonts/Pangram-ExtraLight.otf) format('truetype');
}

.projects-div {
  /* border: 3px solid lightblue; */
  display: flex;
  /* background-color: rgba(4, 10, 14, 0.9); */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.project-card {
  /* border: 3px solid gray; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  max-width: 350px;
  margin: 1rem 0;
  padding: 1rem 0.5rem;
}

.project-image {
}

.outer-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel {
  border: 3px solid red;
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.image-slide {
  height: 100%;
  width: 80%;
  transition: background-image 0.5s ease-in-out;
}

.slide-arrow {
  color: white;
  cursor: pointer;
  font-size: 2rem;
  /* position: fixed; */
  top: 50%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}

.project-body {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: space-between;
  padding: 0.5rem;
}

.icon-div {
  /* border: 3px solid pink; */
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-buttons-div {
  /* border: 3px solid olivedrab; */
  margin: 1rem 0;
}

.project-name {
  font-size: 2rem;
  font-family: Pangram-ExtraLight;
  letter-spacing: 0.15rem;
  font-variant: small-caps;
}

.project-technologies {
  font-size: 1.5rem;
  font-family: Pangram-ExtraLight;
  letter-spacing: 0.15rem;
  font-variant: small-caps;
}

.project-description {
}

.skills-div-list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 0.25rem;
  /* border: 1px solid hotpink; */
  min-width: 150px;
}
