@font-face {
  font-family: 'Alcubierre';
  src: local('Alcubierre'), url(./fonts/Alcubierre.otf) format('truetype');
}
@font-face {
  font-family: 'Pangram-ExtraLight';
  src: local('Pangram-ExtraLight'),
    url(./fonts/Pangram-ExtraLight.otf) format('truetype');
}

.projects-div {
  /* border: 3px solid lightblue; */
  display: flex;
  background-color: rgba(4, 10, 14, 0.9);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.project-card {
  border: 3px solid gray;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  max-width: 350px;
  margin: 1rem 0;
  padding: 1rem 0.5rem;
}

.project-image {
}

.project-body {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: space-between;
  padding: 0.5rem;
}

.icon-div {
  /* border: 3px solid pink; */
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-buttons-div {
  /* border: 3px solid olivedrab; */
}

.project-name {
  font-size: 2rem;
  font-family: Pangram-ExtraLight;
  letter-spacing: 0.15rem;
  font-variant: small-caps;
}

.project-technologies {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: Pangram-ExtraLight;
  letter-spacing: 0.15rem;
  font-variant: small-caps;
}

.project-description {
}

.skills-div-list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 0.25rem;
  /* border: 1px solid hotpink; */
  min-width: 150px;
}
