@font-face {
  font-family: 'Alcubierre';
  src: local('Alcubierre'), url(./fonts/Alcubierre.otf) format('truetype');
}
@font-face {
  font-family: 'Pangram-ExtraLight';
  src: local('Pangram-ExtraLight'),
    url(./fonts/Pangram-ExtraLight.otf) format('truetype');
}

.outer-skills-div {
  display: flex;
  background-color: rgba(4, 10, 14, 0.9);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.skills-div {
  width: 90%;
  max-width: 875px;
  border: 4px solid tomato;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
}

.skills-div-header {
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.skills-header {
  font-size: 2rem;
  font-family: Pangram-ExtraLight;
  letter-spacing: 0.15rem;
  font-variant: small-caps;
}

.skills-sub-header {
}

.skills-div-list {
  border: 1px solid purple;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-div-list-item {
  padding: 0.25rem;
  margin: 0.25rem;
  border: 1px solid hotpink;
  width: 24%;
  min-width: 300px;
}
